footer {
    align-items: center;
    background-color: #19273A;
    display: flex;
    height: 70px;
    justify-content: space-around;
    margin-top: 8px;
    width: 100%;
}

.footer-text {
    text-align: center;
}

footer div h3 {
    color: #FFFFFF;
    font-weight: 400;
}